.container {
max-width: 960px;
min-width: 600px;
margin: 0 auto;
}

.clearfix {
clear: both;
}

body {
margin: 0px;
}

header {
background-color: #000000;
min-height: 211px;
margin: 0px;
padding: 0px;
border: 0px;
}

#title h1 {
color: white;
font-family: tahoma;
text-align: center;
font-size: 64px;
margin: 0px;
}

#title h3 {
color: white;
font-family: tahoma;
text-align: center;
font-size: 16px;
}

#logo {
max-width: 200px;
float: left;
}

#logo img {
max-width: 100%;
}

section .container {
padding: 10px 0;
display: block;
}

.nav {
margin: 0px;
float: left;
font-family: tahoma;
background-color: #E0E0E0;
max-width: 300px;
}

#geninfo {
max-width: 600px;
}

.content {
float: right;
max-width: 660px;
display: block;
}

#photo {
max-width: 200px;
float: left;
}

#photo img {
max-width: 100%;
}

.commonInfoTable {
float: right;
}

footer {
min-height: 211px;
background-color: #E0E0E0;
clear: both;
}