body {
margin: 0px;
}

header {
background-color: #000000;
min-height: 200px;
margin: 0px;
padding: 0px;
border: 0px;
}

header h1 {
color: white;
font-family: tahoma;
text-align: center;
font-size: 64px;
margin: 0px;
}

header h3 {
color: white;
font-family: tahoma;
text-align: center;
font-size: 16px;
}

header img {
max-width: 193px;
max-height: 200px;
float: left;
}

.nav {
margin: 0px;
float: left;
font-family: tahoma;
background-color: #E0E0E0;
}